/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@keyframes portfolio-item {
	from {
		top: 30%;
		opacity: 0
	}

	to {
		top: 0%;
		opacity: 1;
	}
}


@for $i from 1 through 12 {
	.columns-#{$i} {
		grid-template-columns: repeat(#{$i}, 1fr);
	}

	.cols-#{$i} {
		columns: #{$i};
	}
}

@media (max-width: 768px) {
	@for $i from 1 through 12 {
		.columns-tablet-#{$i} {
			grid-template-columns: repeat(#{$i}, 1fr);
		}

		.cols-tablet-#{$i} {
			columns: #{$i};
		}
	}
}

@media (max-width: 576px) {
	@for $i from 1 through 12 {
		.columns-mobile-#{$i} {
			grid-template-columns: repeat(#{$i}, 1fr);
		}

		.cols-mobile-#{$i} {
			columns: #{$i};
		}
	}
}


.wp-block-create-block-b-portfolio-block {
	// background-color: #21759b;
	color: #fff;
	padding: 2px;
}


* {
	margin: 0;
	padding: 0;
}

.bppb-portfolio-items {
	display: grid;
	padding: 15px;
	// grid-template-columns: repeat(3, 1fr);
	column-gap: 15px;
	row-gap: 15px;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;

}

.bppb-portfolio-item {
	background-image: url("https://images.unsplash.com/photo-1499018658500-b21c72d7172b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
	height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.bppb-portfolio-item .content h2 {
	color: #fff;
	margin: 0;
	font-size: 30px;
}

.bppb-portfolio-item .content {
	opacity: 0;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	top: 30%;
	justify-content: center;
	align-items: center;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.bppb-portfolio-item:hover .content {
	opacity: 1;
	animation-name: portfolio-item;
	animation-duration: 1.2s;
	top: 0%;
}

.bppb-portfolio-item .content .portfolio-view-details-btn {
	// border: 1px solid #ddd;
	outline: none;
	padding: 4px 10px;
	font-size: 15px;
	border-radius: 3px;
	cursor: pointer;
}

// .bppb-portfolio-item .content .portfolio-view-details-btn:hover {
// 	background-color: #3e8e41
// }

.modal-text .star-rating {
	display: inline-block;
	line-height: 1;
}

.star-rating .star {
	color: #0074A2;
	display: inline-block;
	font-family: dashicons;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	height: 18px;
	line-height: 1;
	text-align: center;
	text-decoration: inherit;
	vertical-align: top;
	width: 18px;
}

/* ------------------------------------------ Media Query ------------------- */
@media screen and (max-width: 992px) {
	.bppb-portfolio-items {
		grid-template-columns: repeat(2, auto);
	}
}

@media screen and (max-width: 576px) {
	.bppb-portfolio-items {
		grid-template-columns: repeat(1, auto);
	}
}



/* button.click {
    margin-top: 15px;
    height: 28px;
    width: 54px;
    background-color: #f3eaeb;
    text-decoration: none;
    border-radius: 6px;
} */


@keyframes bppb-portfolio-item {
	from {
		top: 30%;
		opacity: 0
	}

	to {
		top: 0%;
		opacity: 1;
	}
}



/*--------------------------------------- popup modal ------------------------ */

// .content h2 {
// 	text-align: center;
// 	color: #ffff;
// }

.desc {
	// color: #ffff;
	text-align: center;
}

.side-bar span {
	font-weight: 600;
	font-size: 18px;
	color: #0BF;
}

.footer span {
	font-weight: 600;
	font-size: 18px;
	color: #0BF;
}

p {
	margin: 0 0 24px;
	margin: 0 0 2.4rem;
	padding: 0;
	line-height: 1.6;
}

.modal-text .red {
	margin: 0;
	color: #fa566f;
}

img.model-img2 {
	width: 100%;
}

p.desc {
	margin-top: 10px;
	color: black;
	text-align: left;
	margin-bottom: 20px;
}

.list-images {
	display: flex;
}

/* .list-images img {
    margin-top: 20px;
    height: 80px;
} */

h1.heading {
	text-align: center;
	margin-bottom: 20px;
}

// p {
// 	margin: 0;
// }

.side-bar {
	margin-top: 10px;
	color: black;
}


.editor-styles-wrapper p {
	margin: 0 0 20px;
	color: black;
}

span {
	color: black;
}


.row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 20px;
}


/*  -=-------------------modal css----------------------------------------------- */
.slider-wrapper {
	position: relative;
}

.slider {
	position: relative;
	height: 400px;
	overflow: hidden;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease-in-out;
}

.slide.active {
	opacity: 1;
}

.thumbs {
	display: flex;
	column-gap: 8px;
	margin-top: 10px;
}

.thumb {
	width: 80px;
	height: 60px;
	border: 2px solid white;
	opacity: 0.5;
	transition: opacity 0.8s ease-in-out;
	cursor: pointer;
}

.thumb.active {
	opacity: 1;
}

.footer {
	margin: 10px 25px 0px 25px;
}

/*--------------------------------------- popup modal ------------------------ */


/* The Modal (background) */
#portfolio-modal {
	// display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 2;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

#portfolio-modal .modal-text {
	margin-left: 30px;
}

/* .modal-content {
    width: 88%;
    margin: 0 auto;
} */

/* Modal Content */
#portfolio-modal .modal-content {
	position: relative;
	width: 80rem;
	background-color: #fefefe;
	margin: 0 auto;
	padding: 0;
	/* border: 1px solid #888; */
	/* width: 80%; */
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

/* The Close Button */
#portfolio-modal .close {
	color: #489625;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#portfolio-modal .close:hover,
#portfolio-modal .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#portfolio-modal .modal-header {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

#portfolio-modal .modal-body {
	/* padding: 2px 16px; */
}

#portfolio-modal .modal-footer {
	text-align: center;
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

@media only screen and (max-width: 768px) {
	#portfolio-modal .modal-content {
		width: 80%;
	}

	#portfolio-modal .modal-text {
		margin: 20px 0px 0px 0px;
	}

	.row {
		display: grid;
		grid-template-columns: repeat(1, auto);
	}
}

@media only screen and (max-width: 600px) {
	.row {
		display: grid;
		grid-template-columns: repeat(1, auto);
	}
}